		</div>
		<div id="footer">
			<div id="tools-tip-wrap">
				<div id="tools-tip">
					<div class="cf">
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(/img/react2x.jpg);"></div>
							<div class="tools-icon-desc">React</div>
						</div>
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(/img/sass2x.jpg);"></div>
							<div class="tools-icon-desc">Sass</div>
						</div>
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(/img/gulp2x.jpg);"></div>
							<div class="tools-icon-desc">gulp</div>
						</div>
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(/img/hbs2x.jpg);"></div>
							<div class="tools-icon-desc">HBS</div>
						</div>
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(/img/hapi2x.jpg);"></div>
							<div class="tools-icon-desc">Hapi</div>
						</div>
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(/img/node2x.jpg);"></div>
							<div class="tools-icon-desc">Node</div>
						</div>
					</div>
				</div>
			</div>
			© 2015 Dennis Jin.<span id="tools-sentence"> Built using <span id="tools-link" class="link">various tools</span>.</span> Open-sourced on <a href="https://github.com/Desuvader/desuvader.com" target="_blank" class="link">Github</a>.
		</div>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react-with-addons.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.1/velocity.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.1/velocity.ui.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		{{#is env 'development'}}
		<script type="text/javascript" src="http://localhost:8090/webpack-dev-server.js"></script>
		<script type="text/javascript" src="http://localhost:8090/assets/components.js"></script>
		{{else}}
		<script type="text/javascript" src="/js/components.js"></script>
		{{/is}}
</body>
</html>
