		<div id="footer">
			<div id="tools-tip-wrap">
				<div id="tools-tip"> <!-- ahehehehe, the puns -->
					<div class="cf">
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(img/sass2x.jpg);"></div>
							<div class="tools-icon-desc">Sass</div>
						</div>
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(img/gulp2x.jpg);"></div>
							<div class="tools-icon-desc">gulp</div>
						</div>
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(img/hbs2x.jpg);"></div>
							<div class="tools-icon-desc">HBS</div>
						</div>
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(img/hapi2x.jpg);"></div>
							<div class="tools-icon-desc">Hapi</div>
						</div>
						<div class="tools-icon-wrap">
							<div class="tools-icon" style="background-image: url(img/node2x.jpg);"></div>
							<div class="tools-icon-desc">Node</div>
						</div>
					</div>
				</div>
			</div>
			© 2015 Dennis Jin. Built using <span id="tools-link" class="link">various tools</span>. Open-sourced on <a href="https://github.com/Desuvader/desuvader.com" target="_blank" class="link">Github</a>.
		</div>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
