<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<meta property="og:type" content="website" />
	<meta property="og:title" content='{{title}} - Dennis "tofuness" Jin' />
	<meta property="og:image" content="/img/OpieOp.jpg" />
	<meta property="og:description" content="{{description}}" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@thesotaku" />

	<meta itemprop="name" content='{{title}} - Dennis "tofuness" Jin' />
	<meta itemprop="description" content="{{description}}" />
	<meta itemprop="image" content="/img/OpieOp.jpg" />

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

	<title>{{title}} - Dennis "tofuness" Jin</title>
	<link href="//fonts.googleapis.com/css?family=Oswald:400" rel="stylesheet" type="text/css" />
	{{#is env 'development'}}
		<link rel="stylesheet" type="text/css" href="/assets/style.css" />
	{{else}}
		<link rel="stylesheet" type="text/css" href="/assets/{{revManifest.[style.css]}}" />
	{{/is}}
	<script>
	  (function(d) {
	    var config = {
	      kitId: 'mnl7tcp',
	      scriptTimeout: 3000,
	      async: true
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>
</head>
<body>
	<div id="wrap">
		<div id="logo-wrap">
			<a id="logo" data-animate="true" href="/"></a>
		</div>
		<div id="navigation">
			<a href="/" class="navigation-link">
				About
			</a>
			<a href="/games" class="navigation-link">
				Games &amp; Fun
			</a>
			<a href="/projects" class="navigation-link">
				Projects
			</a>
		</div>
