<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
	<meta name="description" content="Dennis Jin is software engineer who also does design." />
	<title>Dennis "Desuvader" Jin</title>
	<link href="http://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="//use.typekit.net/mnl7tcp.js"></script>
	<script>
		try {
			Typekit.load();
		} catch(e) {
			console.log(e);
		}
	</script>
</head>
<body>
	<div id="wrap">
		<div id="logo-wrap">
			<a id="logo" href="/"></a>
		</div>
		<div id="navigation">
			<a href="/" class="navigation-link">
				About
			</a>
			<a href="/projects" class="navigation-link">
				Projects
			</a>
			<a href="/games" class="navigation-link">
				Recently played
			</a>
		</div>
