{{>header}}
<div class="me-spacer">
</div>
<div id="me-slide-nav">
	<div class="me-slide-nav-dot">
	</div>
	<div class="me-slide-nav-dot active">
	</div>
</div>
<div id="me-slide-frame">
	<div id="me-slide-wrap">
		<div class="me-slide">
			<div class="me-section">
				<div class="me-section-hd">
					Never lucky <img id="babyrage" src="/img/babyrage.png" />
				</div>
				<div class="me-section-desc">
					<p>
						I've always been a big fan of card games. Back in 6th - 8th grade, I used to participate in a weekly Yu-Gi-Oh! tournament. And now that micro-transactions are a thing: <a href="http://us.battle.net/hearthstone/en/" rel="nofollow" target="_blank" class="link">Hearthstone</a>!
					</p>
					<p>
						Below are two of my favorite (stable) decks that I am currently running in constructed. Want to suggest an improvement? <a href="" target="_blank" class="link">Make a PR on Github</a>.
					</p>
				</div>
			</div>
			<div id="hearth-decklist-wrap">
			</div>
		</div>
		<div class="me-slide">
			<div class="me-section">
				<div class="me-section-hd">
					Challenger: soon™
				</div>
				<div class="me-section-desc">
					<p>
					I love <a href="http://leagueoflegends.com" rel="nofollow" target="_blank" class="link">League of Legends</a>. A friend of mine introduced the game to me back in early 2011 and I have been addticted to the game ever since.
					</p>
					<p>
						Below are my most recently played games on the EU Nordic &amp; East server (IGN: Hameru). The data is fetched directly from <a href="https://developer.riotgames.com/" rel="nofollow" target="_blank" class="link">Riot's API</a>.
					</p>
				</div>
			</div>
			<div id="league-card-wrap">
			</div>
		</div>
	</div>
</div>
{{>footer}}
