{{>header}}
	<div id="intro">
		<div id="intro-top">
			Dennis Jin, Designer &amp; Developer
		</div>
		<div id="intro-mid">Trying to solve the <br />mysteries of design, <br />through code.
		</div>
	</div>
	<div id="me">
		<div class="me-section">
			<div class="me-section-hd">
				About me
			</div>
			<div class="me-section-desc">
				My name is Dennis “Desuvader” Jin. I am a designer and developer from Sweden. I believe, in order to create coherent products, one has to refine one's skills in both design and programming.<br />
				<br />
				I am currently studying computer science at the Faculty of Engineering (LTH) in Lund, southern Sweden. Feel free to download <a href="" class="link" target="_blank">my resumé</a> or read about my everyday life on <a href="https://twitter.com/thesotaku" class="link" target="_blank">Twitter</a>.
			</div>
		</div>
	</div>
	<div id="pulse">
		<div id="pulse-outer">
		</div>
		<div id="pulse-inner">
		</div>
	</div>
	<canvas id="canvas">
	</canvas>
{{>footer}}
