{{>header}}
		<div id="wrap">
			<div id="intro">
				<div id="intro-top">
					Dennis Jin, Designer &amp; Developer
				</div>
				<div id="intro-mid">Trying to solve the <br />mysteries of design, <br />through code.
				</div>
			</div>
			<div id="me">
				<div id="me-left">
					<div class="me-section">
						<div class="me-section-hd">
							About me
						</div>
						<div class="me-section-desc">
							My name is Dennis Jin. I am a designer and developer from Sweden. I believe, in order to create coherent products, one has to refine one's skills in both design and programming.<br />
							<br />
							I am currently studying computer science at the Faculty of Engineering (LTH) in Lund, southern Sweden.
						</div>
					</div>
					<!--
					<div class="me-section">
						<div class="me-section-hd">
							Side projects
						</div>
						<div class="me-section-desc">
							The work listed below are some of the things that I have built outside of university.
							Visit my <a href="https://github.com/Desuvader" target="_blank" class="link">Github profile</a> for my most recent contributions.
						</div>
						<div id="sideprojects-list">
							<div class="sideproject">
								<div class="sideproject-title">
									Anistack
								</div>
								<div class="sideproject-desc">
									Anistack is an anime and manga discovery/tracking platform built mainly using React.js and Node.js.
								</div>
							</div>
							<div class="sideproject">
								<div class="sideproject-title">
									Hummingbird Updater
								</div>
								<div class="sideproject-desc">
									Media scrobbler for Hummingbird.me. Also tracks scrobbling history.
								</div>
							</div>
							<div class="sideproject">
								<div class="sideproject-title">
									Niirobox (dead)
								</div>
								<div class="sideproject-desc">
									Niirobox is an online music player that I built when I wanted to learn more about one-page apps.
								</div>
							</div>
						</div>
					</div>
				</div>				-->
			</div>
			<div id="pulse">
				<div id="pulse-outer">
				</div>
				<div id="pulse-inner">
				</div>
			</div>
			<canvas id="canvas">
			</canvas>
		</div>
{{>footer}}
