{{>header}}
	<div id="intro">
		<div id="intro-top">
			Dennis Jin, Designer &amp; Developer
		</div>
		<div id="intro-mid">Trying to solve the <br />mysteries of design, <br />through code.
		</div>
	</div>
	<div id="me">
		<div class="me-section">
			<div class="me-image-wrap">
				<div class="me-image" style="background-image:url(/img/suido.jpg);">
				</div>
				<div class="me-image-caption">
					<div class="me-image-caption-text">
						Lost in Suidobashi, Japan. 	Summer 2014.
					</div>
					<div class="me-image-caption-credit">
						Taken by Kevin Thai
					</div>
				</div>
			</div>
			<div class="me-section-hd">
				About me
			</div>
			<div class="me-section-desc">
				<p>
					My name is Dennis “Desuvader” Jin. I am a designer and developer from Sweden. I believe, in order to create coherent products, one has to refine one's skills in both design and programming.
				</p>
				<p>
					I am currently studying computer science at the Faculty of Engineering (LTH) in Lund, Sweden. Feel free to download <a href="dd" class="link" target="_blank">my résumé</a> or read about my everyday life on <a href="https://twitter.com/thesotaku" class="link" target="_blank">Twitter</a>.
				</p>
				<p>
					By the way, I like to <a href="https://www.youtube.com/user/adennisjin" class="link" target="_blank">shuffle cards</a> during my spare time.
				</p>
			</div>
		</div>
	</div>
	<!--
	<div id="pulse">
		<div id="pulse-outer">
		</div>
		<div id="pulse-inner">
		</div>
	</div>-->
{{>footer}}
