{{>header}}
	<div id="me">
		<div class="me-spacer">
		</div>
		<div class="me-section">
			<div class="me-image-wrap">
				<div class="me-image">
					<canvas id="mesh"></canvas>
				</div>
				<div class="me-image-caption">
					<div class="me-image-caption-text">
						Particle (sine) wave built with Canvas.
					</div>
					<div class="me-image-caption-credit">
						Hey, click on one of the side projects before this fries your GPU :^)
					</div>
				</div>
			</div>
			<div class="me-section-hd">
				Side projects
			</div>
			<div class="me-section-desc">
				<p>
				The work listed below are some of the things that I have built outside of work and university.
				Visit my <a href="https://github.com/tofuness" target="_blank" class="link">Github profile</a> for my most recent contributions.
				</p>
			</div>
			<div id="sideprojects-list">
				<div class="sideproject">
					<a class="sideproject-title link" href="https://toshocat.com">
						Toshocat
					</a>
					<div class="sideproject-desc">
						Track and Discover your favorite Anime and Manga on your desktop. Built mainly using React/Redux and Electron.
					</div>
				</div>
				<div class="sideproject">
					<a class="sideproject-title link" href="http://tofuness.github.io/eex/">
						eex
					</a>
					<div class="sideproject-desc">
						Collection of small eexperiments for the web. Updated regularly.
					</div>
				</div>
			</div>
		</div>
	</div>
{{>footer}}
