{{>header}}
	<div id="me">
		<div class="me-section">
			<div class="me-image-wrap">
				<div class="me-image">
				</div>
				<div class="me-image-caption">
					<div class="me-image-caption-text">
						Lorem ipsum dolor sit amet from Sweden.
					</div>
					<div class="me-image-caption-credit">
						Riot Games Inc.
					</div>
				</div>
			</div>
			<div class="me-section-hd">
				Side projects
			</div>
			<div class="me-section-desc">
				The work listed below are some of the things that I have built outside of university.
				Visit my <a href="https://github.com/Desuvader" target="_blank" class="link">Github profile</a> for my most recent contributions.
			</div>
			<div id="sideprojects-list">
				<div class="sideproject">
					<div class="sideproject-title">
						Anistack
					</div>
					<div class="sideproject-desc">
						Anistack is an anime and manga discovery/tracking platform built mainly using React.js and Node.js.
					</div>
				</div>
				<div class="sideproject">
					<div class="sideproject-title">
						Hummingbird Updater
					</div>
					<div class="sideproject-desc">
						I wanted to get away from the web and develop something native. The results was Hummingbird Updater, a light-weight scrobbler for Hummingbird.me.
					</div>
				</div>
				<div class="sideproject">
					<div class="sideproject-title">
						Niirobox (dead)
					</div>
					<div class="sideproject-desc">
						Niirobox is an online music player that I built when I wanted to learn more about one-page apps.
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--
	<div id="pulse">
		<div id="pulse-outer">
		</div>
		<div id="pulse-inner">
		</div>
	</div>-->
{{>footer}}
