// Colors 8)

$gold: #f3d77f;
$gold-dark: #b5a454;
$black: #333333;
$w80: rgba(255, 255, 255, 0.8);

// Basically, replace this with whatever fits

/*
$text: #fff;
$text-hover: #b6aad1;
$base: #1e1433;
$base-l: #685199;
*/

// Puple, gold

/* $text: #fff;
$text-hover: #d5cedb;
$base: #1f1c22;
$base-l: #675e70;
 */

// Gray, gold, blue tint

$text: #fff;
$text-hover: #ccc;
$base: #242728;
$base-l: #5a6b6f;

/*
	Chart colors
	base: 1f1c22,
	grid: 2a262e,
	labels: 675e70
*/
