// Colors 8)

$gold: #f3d77f;
$gold-dark: #b5a454;
$black: #333333;
$w80: rgba(255, 255, 255, 0.8);

// Basically, replace this with whatever fits

/*
$text: #fff;
$text-hover: #b6aad1;
$base: #1e1433;
$base-l: #685199;
*/

$text: #fff;
$text-hover: #d5cedb;
$base: #1f1c22;
//$base-l: #534b5b;
$base-l: #675e70;

/*
	Chart colors
	base: 1f1c22,
	grid: 2a262e,
	labels: 675e70
*/
