// Colors

$gold: #f3d77f; // (ﾉoヮo)ﾉ*:･ﾟ✧
$gold-dark: #b5a454;
$black: #333333;
$w80: rgba(255, 255, 255, 0.8);

// Puple, gold theme

/* $text: #fff;
$text-hover: #d5cedb;
$base: #1f1c22;
$base-l: #675e70;
 */

// Gray, gold, blue tint theme

$text: #fff;
$text-hover: #c4c4c4;
$base: #242728;
$base-l: #5a6b6f;
