#league-card-wrap {
	padding-top: 20px;
}
.league-card {
	@extend .cf;
	opacity: 0;
	margin-top: 20px;
	margin-left: 40px;
	width: 560px;
	@include border-radius(4px);
	background-size: cover;
	background-position: 0 -50px;
	@include box-shadow(inset 0 1px 0 rgba(255, 255, 255, 0.125));
}
.league-card-ovl {
	padding: 10px;
	@include border-radius(4px 4px 0 0);
	@include border-radius(4px 4px 0 0);
	background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 82%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.6)), color-stop(82%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#00000000', GradientType=1);
}
.league-card-top, .league-card-bottom {
	@extend .soleil;
	color: $w80;
	font-size: 11px;
	letter-spacing: 0.05em;
}
.league-card-middle {
	@extend .cf;
}
.league-card-kda {
	@extend .oswald;
	float: left;
	padding-top: 5px;
	color: #fff;
	font-size: 32px;
	line-height: 1;
}
.league-card-finance {
	@extend .soleil;
	float: left;
	padding: 4px 0 0 10px;
	color: $w80;
	font-size: 11px;
	letter-spacing: 0.05em;
}
.league-card-outcome {
	color: #d63e2e;
	&.victory {
		color: #52b766;
	}
}
.league-card-team {
	color: #4a95ff;
	&.purple {
		color: #685199;
	}
}
.league-loading {
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 640px;
	&.spinner {
		padding-top: 10px;
	}
}
.league-loading-message {
	@extend .soleil;
	padding-top: 30px;
	color: $text;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.league-card-meta {
	@extend .cf;
	width: 100%;
	@include border-radius(0 0 4px 4px);
	@include border-radius(0 0 4px 4px);
}
.league-card-item-wrap {
	@extend .cf;
	padding: 5px 0;
	width: 100%;
}
.league-card-item {
	float: left;
	margin-right: 5px;
	width: 24px;
	height: 24px;
	background-size: cover;
	@include border-radius(4px);
}

/*

.league-match-bg {
	@extend .cf;
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.6);
}
.league-match-modal {
	float: left;
	overflow: hidden;
	width: calc(100% - 60px);
	max-width: 560px;
	height: 100%;
	background: $base;
	z-index: 2;
	@include transform-origin(left center);
}
.league-match-chart {
	width: 100%;
	height: 260px;
	background: $base;
}
.league-match-smallchart {
	width: 100%;
	height: 50px;
	background: $base;
}
.league-match-title {
	@extend .soleil;
	padding: 10px;
	color: $text;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-bottom: 1px solid #2a262e;
}

*/
