#match {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}
#match-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
}
#match-modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -280px;
	width: 560px;
	background: $base;
}
