@import 'colors.scss';
@import 'includes/normalize.scss';
@import 'default.scss';
@import 'hearth.scss';
@import 'league.scss';
@import 'leaguematch.scss';
/*
Modular scale
64
48
36
28
24
18
16
14
13
12
10
*/

.oswald {
	font-family: 'Oswald', sans-serif;
}
.soleil {
	font-family: 'soleil', sans-serif;
}
.adobe {
	font-family: 'adobe-garamond-pro', serif;
}

html {
	color: $black;
	font-size: 16px;
	font-family: 'Helvetica', sans-serif;
	letter-spacing: 0.01em;
	background: $base;
	overflow-y: scroll;
	overflow-x: hidden;
}
div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.link {
	color: $text;
	text-decoration: none;
	text-shadow:
		0 1px 0 $base,
		1px 1px 0 $base,
		-1px 1px 0 $base,
		2px 1px 0 $base,
		-2px 1px 0 $base,
		0 2px 0 $base,
		-1px 2px 0 $base,
		1px 2px 0 $base,
		-2px 2px 0 $base,
		2px 2px 0 $base;
	@include box-shadow(0 1px 0 $gold);
	&:hover {
		color: $gold;
		@include box-shadow(0 1px 0 $gold);
	}
}
.link-2 {
	color: $text;
	text-decoration: none;
	text-shadow:
		0 1px 0 $base,
		1px 1px 0 $base,
		-1px 1px 0 $base,
		2px 1px 0 $base,
		-2px 1px 0 $base,
		0 2px 0 $base,
		-1px 2px 0 $base,
		1px 2px 0 $base,
		-2px 2px 0 $base,
		2px 2px 0 $base;
	@include box-shadow(0 1px 0 $text);
	&:hover {
		color: $text-hover;
		@include box-shadow(0 1px 0 $text-hover);
	}
}

// Navigation

#navigation {
	@extend .cf;
	padding-top: 10px;
	width: 480px;
	border-top: 1px solid $text;
}
.navigation-link {
	@extend .soleil;
	margin-right: 20px;
	float: left;
	color: $text;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.1em;
	&:hover {
		color: $text-hover;
	}
}
#logo-wrap {
	overflow: hidden;
	padding: 5px 0 16px 2px;
}
#logo {
	display: block;
	opacity: 0;
	width: 0.707em;
	height: 0.707em;
	background: $gold;
}
#wrap {
	margin: 0 auto;
	padding-top: 80px;
	width: 480px;
}
#intro {
	padding: 80px 0;
}
#intro-top {
	@extend .soleil;
	padding-bottom: 1em;
	color: $text;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#intro-mid {
	@extend .soleil;
	width: 480px;
	color: $gold;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.5em;
	letter-spacing: 0.01em;
	-letter-kern: 0 4px;
}



// Me

#me {
	width: 480px;
}
.me-spacer {
	width: 100%;
	height: 40px;
}
.me-image-wrap {
	padding-bottom: 40px;
	&:last-child {
		padding: 0;
	}
}
.me-image {
	position: relative;
	overflow: hidden;
	margin-left: -40px;
	width: 560px;
	height: 287px;
	background-position: center center;
	background-size: cover;
}
.me-image-caption {
	margin-left: -40px;
	padding-top: 0.5em;
}
.me-image-caption-text {
	@extend .adobe;
	color: $text-hover;
	font-size: 14px;
}
.me-image-caption-credit {
	@extend .soleil;
	padding-top: 0.5em;
	color: $base-l;
	font-size: 11px;
}
.me-section {
	&:first-child {
		padding-top: 0;
	}
}
.me-section-hd {
	@extend .soleil;
	margin-bottom: 1.5em;
	color: $base-l;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.me-section-desc {
	@extend .adobe;
	color: $text;
	line-height: 2;
	& p {
		margin-top: 0;
		margin-bottom: 1.5em;
	}
}
#canvas {
	position: absolute;
	top: 60px;
	left: 0;
	z-index: -1;
}

// Me slides (games)

#me-slide-frame {
	overflow-x: visible;
	margin-left: -40px;
	width: 480px;
}
#me-slide-wrap {
	@extend .cf;
	padding: 0 0px 0 40px;
	margin-left: -600px;
	width: 600 * 3px + 40;
	overflow-y: hidden;
}
#me-slide-nav {
	@extend .cf;
	margin: 0 auto;
	padding-bottom: 40px;
	width: 16 * 2 - 8px;
}
.me-slide-nav-dot {
	@extend .ts;
	cursor: pointer;
	margin-right: 8px;
	float: left;
	width: 8px;
	height: 8px;
	//background: rgba(255, 255, 255, 0.3);
	border: 1px solid rgba(255, 255, 255, 0.2);
	@include border-radius(16px);
	&.active {
		border: 4px solid #fff;
	}
	&:hover {
		background: rgba(255, 255, 255, 0.6);
	}
	&:last-child {
		margin-right: 0;
	}
}
.me-slide {
	@extend .ts;
	position: relative;
	opacity: 0.3;
	float: left;
	padding-right: 120px;
	width: 480px;
	height: 100%;
	&:not(.active) {
		@extend .ns;
	}
	&:hover:not(.active) {
		cursor: pointer;
		opacity: 0.6;
	}
	&.active {
		opacity: 1;
	}
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.me-slide.active .me-slide-shadow {
	display: none;
}
.me-slide:not(.active) .me-slide-shadow {
	margin-left: -40px;
	z-index: 100;
	display: block;
	position: absolute;
	width: 600px;
	height: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(36,39,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(36,39,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(36,39,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(36,39,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(36,39,40,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(36,39,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#242728',GradientType=0 ); /* IE6-9 */
}

// Pulse

#pulse {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
#pulse-inner {
	opacity: 0;
	position: absolute;
	top: -60px;
	left: -80px;
	width: 800px;
	height: 800px;
	border: 1px solid $gold-dark;
	@include transform(rotate(45deg));
}
#pulse-outer {
	opacity: 0;
	position: absolute;
	top: -60px;
	left: -80px;
	width: 800px;
	height: 800px;
	border: 4px solid $gold;
	@include transform(rotate(45deg));
}

.sideproject {
	margin-top: 1em;
	padding-bottom: 1em;
	color: $text;
	line-height: 2;
	border-bottom: 1px dotted $base-l;
}
.sideproject-title {
	@extend .soleil;
	font-size: 14px;
	font-weight: 700;
}
.sideproject-desc {
	@extend .adobe;
}

#footer {
	@extend .adobe;
	position: relative;
	margin: 40px auto;
	width: 480px;
	color: $base-l;
	font-size: 14px;
}
#tools-link {
	position: relative;
	cursor: default;
}
#tools-tip-wrap {
	position: absolute;
	display: none;
	opacity: 0;
	top: -80px;
	left: 85px;
	margin-bottom: 12px;
	@include transform-origin(105px 77px);
}
#tools-tip {
	@extend .cf;
	padding: 10px;
	width: auto;
	background: #fff;
	@include border-radius(4px);

	&:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 11px;
		margin-top: -1px;
		margin-left: -10px;
	}
}
.tools-icon-wrap {
	float: left;
	margin-right: 10px;
	&:last-child {
		margin-right: 0;
	}
}
.tools-icon-desc {
	@extend .soleil;
	font-size: 11px;
	text-align: center;
}
.tools-icon {
	width: 30px;
	height: 30px;
	background-size: cover;
}

// Mesh

#mesh {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -300px;
	margin-top: -160px;
	background: $base;
}

@import 'mobile.scss';
