@import 'default.scss';

// Colors 8)

$gold: #f3d77f;
$gold-dark: #99862c;
$black: #333333;
$purple: #1e1433;
$purple-l: #685199;

/*
Modular scale
64
48
36
28
24
18
16
14
13
12
10
*/

.playfair {
	font-family: 'Playfair Display', serif;
}
.soleil {
	font-family: 'soleil', sans-serif;
}
.calluna {
	font-family: 'calluna', sans-serif;
}

html {
	color: $black;
	font-family: 'Helvetica', sans-serif;
	background: $purple;
}
div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#wrap {
	width: 100%;
}
#intro {
	padding: 160px 80px;
}
#intro-top {
	@extend .soleil;
	padding-bottom: 1em;
	color: $purple-l;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#intro-mid {
	@extend .soleil;
	width: 480px;
	color: $gold;
	font-size: 48px;
	font-weight: 700;
	line-height: 1.5em;
	letter-spacing: 0.01em;
	-letter-kern: 0 4px;
}
#me {
	padding: 0 80px 80px;
}
#me-left {
	width: 480px;
}
.me-section {
	padding-top: 2em;
	&:first-child {
		padding-top: 0;
	}
}
.me-section-hd {
	@extend .soleil;
	color: $purple-l;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.me-section-desc {
	@extend .calluna;
	padding-top: 1em;
	color: #efe8ff;
	font-size: 16px;
	line-height: 2;
}
#canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}


// Pulse

#pulse {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

#pulse-inner {
	opacity: 0;
	position: absolute;
	top: -120px;
	left: -120px;
	width: 800px;
	height: 800px;
	border: 1px solid $gold-dark;
	@include transform(rotate(45deg));
}
#pulse-outer {
	opacity: 0;
	position: absolute;
	top: -120px;
	left: -120px;
	width: 800px;
	height: 800px;
	border: 4px solid $gold;
	@include transform(rotate(45deg));
}
